@import "../../styles/variables.scss";

.about {
  &__section {
    margin: 1.25rem 1.25rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-size: $size-xs;

    @media (min-width: $breakpoint-tablet) {
      margin: 2.5rem 3rem 2.5rem 3rem;
      gap: 2.5rem;
      font-size: $size-lg;
    }

    @media (min-width: $breakpoint-desktop) {
      margin: 2.5rem 12rem 2.5rem 12rem;
    }
  }
}
